/******** Font Family *********/
@font-face {
    font-family: openSans-light;
    src: url(../fonts/open_sans/OpenSans-light.woff);
}
@font-face {
    font-family: openSans-bold;
    src: url(../fonts/open_sans/OpenSans-bold.woff);
    font-weight: bold;
}
.openSans-light {font-family: openSans-light;}
.openSans-bold {font-family: openSans-bold;}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato/Lato-Regular.woff);
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: lato-italic;
    src: url(../fonts/lato/Lato-Regular-Italic.woff);
    font-style: italic;
}
.lato-regular {font-family: lato-regular;}
.lato-bold {font-family: lato-bold;}
.lato-italic {font-family: lato-italic;}

html {-webkit-text-size-adjust:100%;}
body {background-color: #fff; position: relative; margin: 0px; padding: 0px; font-family: lato-regular,openSans-light,sans-serif; color: #333333;}
* {margin:0; padding:0; border:0; outline:0; box-sizing: border-box; height: auto; }
ul li {list-style-type: none;}
img {font-size: 0;}

#container {
  display: flex;
  background-color: #ddd;
  padding: 20px;
}

/* common styles starts from here */
.button {
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;	
  height: 44px;
  line-height: 15px;
  min-width: 100px;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
}
.button:hover, .button:focus, .button:active {
  text-decoration: none;
}
.button.btn-green {
  background-color: #47D7AC;
  border: 1px solid #47D7AC;
  color: #FFF;
}
.button.btn-green-plain {
  background-color: transparent;
  color: #47D7AC;
  border-color: #47D7AC;
}

.label {
  font-size: 16px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 19px;
  padding: 0px;
}
.help-text {
  font-size: 12px;
  color: #9B9B9B;
  line-height: 15px;
  margin-bottom: 15px;
}
input[type=text] { height: 36px; }
input[type=text], textarea {
  border: 1px solid #D8D8D8;
  width: 100%;
  padding: 10px;
  font-size: 13px
}
textarea { resize: none; }
.form-item {
  margin-top: 20px;
}
.clear { clear: both;}
.primary-green { color: #47D7AC;}
.text-center { text-align: center; }
/* common styles ends here */

/* Left container styles starts from here */
#left-container {
  background-color: #FFF;
  margin-right: 30px;
  height: 100%;
  padding: 10px;
  width: 100px;
}
.tab-item {
  color: #D8D8D8;  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 12px;	
  line-height: 15px;
  text-align: center;
  font-weight: lighter;
}
.circle {
  background-color: #D8D8D8;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 3px;
}
.line { height: 23px; border-left: 1px solid #D8D8D8; }
.visited .circle { background-color: #F5A623; }
.visited .line { border-color: #F5A623;}
.visited { color: #F5A623; }
/* Left container styles ends here */

/* Right container styles starts from here */
#right-container {
  background-color: #FFF;
  min-height: 300px;
  width: 100%; 
  font-weight: 300;
}
#form-container { padding: 36px 53px; }
#buttonContainer { padding: 20px 0; text-align: right; }
.location-item .form-item{ float: left; width: 40%; }
.location-item .form-item:first-child{ width: 50%; margin-right: 10%;}
.address-item .form-item{ float: left; width: 18%; margin-right: 5%; }
.address-item .form-item:first-child{ width: 30%; }
.address-item .form-item:last-child{ margin-right: 0; }
.tags-container button {
  width: 33%; 
  margin-bottom: 20px; 
  border-radius: 23px;
  color: #fff;
}
.uploadImgContainer {
  border: 1px solid #D8D8D8;
  width: 140px;
  height: 110px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 16px;
  position: relative;
}
.uploadImgContainer.add { background: #D8D8D8; }
.uploadImgContainer.add div { position: absolute;}
.uploadImgContainer.add div:first-child{ height: 40px; left: 70px; border-left: 1px solid #FFFFFF;}
.uploadImgContainer.add div:last-child{ width: 41px; left: 50px; border-top: 1px solid #FFFFFF;}
/* Right container styles ends here */
