<div class="form-item">
    <div class="label">Name of the Space</div>
    <div class="help-text">Enter the name of the space. In case of multiple loctions, enter as &#60;SpaceName&#62;-&#60;Location&#62;</div>
    <input type="text" />
</div>

<div class="form-item">
    <div class="label">Details</div>
    <div class="help-text">Describe the places and its unique offerings.</div>
    <textarea rows="5"></textarea>
</div>

<div class="address-item">
    <div class="form-item">
        <div class="label">Address</div>
        <div class="help-text">Street</div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">&nbsp;</div>
        <div class="help-text">City</div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">&nbsp;</div>
        <div class="help-text">State</div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">&nbsp;</div>
        <div class="help-text">Pincode</div>
        <input type="text" />
    </div>
</div>
<div class="clear"></div>

<div class="location-item">
    <div class="form-item">
        <div class="label">Landmark</div>
        <div class="help-text">A well-known property/location nearby</div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">Location on google maps</div>
        <div class="help-text">Type to search</div>
        <input type="text" />
    </div>
</div>
<div class="clear"></div>