<h2>Universal Add-Ons</h2>

<div class="group-title">Create an add-on</div>
<div class="">
    <div class="row">
        <div class="form-item col-lg-3">
            <div class="label">Name</div>
            <input type="text" />
        </div>

        <div class="form-item col-lg-3">
            <div class="label">Inventory</div>
            <input type="text" />
        </div>
        <div class="form-item col-lg-3">
        <div class="label">Price per unit/hour</div>
        <div class="unitSelectorInput">
                <input type="text" />
                <select>
                    <option value="select">select</option>
                    <option value="unit">Unit</option>
                    <option value="hour">Hour</option>
                </select>
        </div>
        </div>
        <div class="form-item col-lg-3">
        <div class="label">Free or paid</div>
        <div class="">
                <select>
                    <option value="select">select</option>
                    <option value="free">Free</option>
                    <option value="paid">Paid</option>
                </select>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="form-item col-lg-3">
            <div class="label">Min quantity (optional)</div>
            <input type="text" />
        </div>

        <div class="form-item col-lg-3">
            <div class="label">Max quantity (optional)</div>
            <input type="text" />
        </div>
        <div class="form-item col-lg-3">
            <div class="label">Sub add-on pricing</div>
            <input type="text" />
        </div>
        <div class="form-item col-lg-3">
            <div class="label">Hours</div>
            <input type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 form-item">
            <button type="button" class="createAnother button" >Create another</button>
            <span class="fa-plus"></span>
        </div>
    </div>
</div>
<div class="clear"></div>
