<div ng-hide="showSpaceImg">
    <div class="form-item">
        <div class="label">Category</div>
        <div class="help-text">Select category to associate to from the dropdown below.</div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">Facilities</div>
        <div class="help-text">Choose one or more facilities available at the space</div>
        <div class="tags-container">
            <button type="button" class="button btn-green btn-round" >Wifi</button>
            <button type="button" class="button btn-round">Air-conditioning</button>
            <button type="button" class="button btn-round">Drinking Water</button>
            <button type="button" class="button btn-round">Concierge</button>
            <button type="button" class="button btn-round">Beverages on request</button>
            <button type="button" class="button btn-green-plain">+</button>
        </div>
    </div>

    <div class="form-item">
        <div class="label">Select associated categories</div>
        <div class="help-text"></div>
        <input type="text" />
    </div>

    <div class="form-item">
        <div class="label">Keywords/Tags</div>
        <div class="help-text">Add keywords separated by comma</div>
        <textarea rows="5"></textarea>
    </div>
</div>

<div class="spaceImgContainer" ng-show="showSpaceImg">
    <div class="form-item">
        <div class="label">Select associated categories</div>
        <div class="help-text">Upload images of the space (&#60;1 mb)</div>
        <div class="uploadImgContainer">
            <img src="../../images/sample.jpg" />
        </div>
        <div class="uploadImgContainer">
            <img src="../../images/sample.jpg" />
        </div>
        <div class="uploadImgContainer add">
            <div></div>
            <div></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
